@import 'variable';
@import 'home';
@import 'leftside';
@import 'rightside';


.shadowBox{
    padding: 60px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
@media (max-width: 1023px){
    .shadowBox{
        padding: 0px !important;
    }
}