.header_wrap{
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    a{
        display: inline-block;
    }
    .logo_wrap{
        max-width: 155px;
    }
    .menu_wrap{
        text-align: right;
    }
}